.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  width: 100vw;
  height: 75px;
  align-items: center;
}
.titles {
  margin-right: 40%;
  display: flex;
  align-items: baseline;
}
.title {
  color: rgb(229, 70, 70);
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-style: oblique;
  text-shadow: 1px 1px white;
}
.subtitle {
  color: #fff;
  margin-left: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-size: 14px;
  text-shadow: 0.5px 0.5px rgb(229, 70, 70);
}

.header > Button {
  margin-right: 10%;
}
.loginform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 450px;
  margin-bottom: 25%;
}
.labelwrap {
  margin-right: 10px;
}
